.wrapper {
    margin: 0px auto;
    width: 1140px;
    height: 1140px;
  }
  header {
    background-color: #ff6961;
    position: relative;
    height: 10%;
  }
  header h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    position: absolute;
    top: 35px;
    left: 35px;
  }
  header h4 {
    position: absolute;
    color: white;
    left: 35px;
    top: 75px;
    font-family: monospace;
  }
  header div {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: end;
  }
  
  header div a {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
  }
  header div img {
    margin-left: 5px;
    margin-right: 5px;
  }
  header div a:hover {
    color: #ff6961;
  }
  header nav {
    position: absolute;
    top: 35px;
    left: 250px;
    width: 50%;
  }
  header a {
    color: white;
  }
  header a:hover {
    color: aliceblue;
  }
  .search-container {
    position: absolute;
    right: 25px;
    top: 50px;
    border: none;
    width: 250px;
    height: 35px;
    display: flex;
    align-items: center;
  }
  .search-container input {
    width: 85%;
    position: absolute;
    left: 5px;
  
    border: none;
  }
  .search-container i {
    position: absolute;
    right: 10px;
    border: none;
  }
  .dropdown-menu a:hover {
    background-color: #ff6961;
    color: white;
  }
  